<p id="notice"><%= notice %></p>

<h1>Lights</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lights.each do |light| %>
      <tr>
        <td><%= image_tag light.image.url(:medium) %></td>
        <td><%= light.description %></td>
        
        <td><%= link_to 'Show', light %></td>
        <% if light.user == current_user %>
        <td><%= link_to 'Edit', edit_light_path(light) %></td>
        <td><%= link_to 'Destroy', light, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Light', new_light_path %>
